hack2022.drwaryaa.com {
    root * /var/www
    file_server
}

yjsatlaskit.hack2022.drwaryaa.com {
    reverse_proxy yjs-atlaskit-demo:80
}

chess.hack2022.drwaryaa.com {
    reverse_proxy chess-demo:8080
}

thebutton.hack2022.drwaryaa.com {
    reverse_proxy thebutton:80
}

api.hack2022.drwaryaa.com {
    reverse_proxy hasura:8080
}
